<%- include('./includes/head.ejs') %>
  <%- include('./includes/navigation.ejs') %>
  <%- include('./includes/msg.ejs') %>
  <div class="jumbotron jumbotron-fluid mt-1 ml-1 mr-1 mb-1 round">
    <div class="container">
      <a href="/admin/add-update" class=" btn btn-primary btn-lg btn-block ">Add Updates</a>
      <a href="#" class=" btn btn-primary btn-lg btn-block ">View Complaints</a>
      <% if(access == 'root'){ %>
        <a href="/users/register" class="btn btn-primary btn-lg btn-block ">Create User</a>
      <% } %>
    </div>
  </div>
<%- include('./includes/end.ejs') %>